/* 

MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNXWMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMW0k0WMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMW0oxXMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWkcoKMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXo;oXMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWNXXNMMMMMMMMMMMMMMMMMMWx;;xWMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWX0xx0WMMMMMMMMMMMMMMMNx;;oXMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXdcdXMMMMMMMMMMMMMMKl;;oXMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM0c;xNMMMMMMMMMMMMXd;,:kWMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWk:;oXMMMMMMMMMMWKo;;;oXMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWOc;;xNMMMMMMMMWKxc;;;oKMMMMWWMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWKd:;;lKMMMMMMWXOd:;;;:xXMMMMMK0WMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMN0d:;,;l0WMMWNKkdc;;,;;o0WMMMMMNxlKMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNKkl:;;;;lOXKOxoc:;,,;,;lONMMMMMMM0c:OMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWX0kdl:;;;;;,;clc:;,,,,,;;:d0NMMMMMMMMKo;c0MMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWNKOxoc;;;,;;,,,,,,,,,,,;,,;:lkKWMMMMMMMMNOl;:xNMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWXOdc:;,;;;,,,;;,,,,,,,,,,;;;:d0NWMMMMMMWNKkl;;cONMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMN0dc;;;,,,,;;;;,;;,,,,,,,,,,,;;;codxxxkxxdoc:;;lkXWMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWXkl;;,;;,,,,,,;;,,;;,,,,,,,,,;;;;;;;;;,,;,,;;:lx0NMMMMMMMWNMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWKOdc;;;;,,;;,,,,,,,,,,,,,,,,,,,,,,,,,,,;,;;;cok0XWMMMMMMMMMWOOWMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMN0d:;;;,,;,,,;;,,,,,,,,,,,,,,,,,,,,,,,,,,,;,,;;ckXWMMMMMMMMMMNklOWMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNOo:,,;;,,,,,;;,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,;;;;;;lxKNMMMMMMN0o:oXMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNOo;;;,,;;,,,;;:;,,;,,,,,,,,,,,;;;,,,;,,,,,,,,,,,;;,,,;:ldkkOkdl:;lKWMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWXXWMMMMMMMMMMMMMMMMMMMMMNOl;;;;,,,,;;,;ckd:,,,;;,,,,,,,;;,,,;;;,,,,,,,,,,,;,,,,,,,;;;;;;,;:xXMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWXOxdxKWMMMMMMMMMMMMMMMMMWKo;;;;,;,;,,,;:dKXd;,,;;,,,,,,,,,;;,,,;;;,,,,,,,,,,,,,,,;,,,;;;;:lxKWMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWNNWXdl0MMMMMMMMMMMMMMMMM0l;,;;,,;,,;;:d0WW0c,;,,;;,,,,,,,,,,;;,,;;;;,,,,,,,,,,,;;;;;:cldk0NMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWk:xWMMMMMMMMMMMMMMMWx;;;,;,,,;cdkKWMMXo;,,;;,,,;,,;,,;;;;:codxxxxddddooodddxxkO0KXNWMMMMMWWMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNd;xWMMMMMMMMMMMMMMMMXOdc;;;:oOXWMMMMXd;,;,,;,,,;;,;,,;:okKXWWWWNNWWWWWWWWMMMMMMMMMMMMWX0xONMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMWNXKXXNWMMMMWKd::OWMMMMMMMMMMMMMMMMMWOc;,;cd0KXXXKkl;;,,,;;,,,,,;;;:dKWMWXOxollllodxO0KXXNNNNXXK0Okdl:;;xNMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMWXkoc:::ccodxxdl:;:xNMMMMMMMMMMMMMMMMMXx:;;;,,;;:cc::;,,;,,;;,;,;;,;,ckNMMXx:;;,,;;;,,,;;::cccccc::;;;;,;;,lKMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMW0l;;,,,,;,,;;,,,;:oOKKKXNNWMMMMMMMMWXOl;;,;;,,;,,;;;,,,,;;,,,,;;,,;;;xNMMNd;,;;,,;;;,,,;,,;;;,;;;,;;;;,,;,,;dXMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMKl;;;;,,,,,,,,,;,,;;;;:::clodk00KKOkdc;;,,,,,,,,,,,,,,,,,,,,,,,,;;;,,:kWMMNx;,,;;,,,,,,,,,,,,,,,,,,,,,,,,,;;,;dXMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMM0c,;;,;,,,,,,,,;;;,,,,;,,,;;,;;;:;;;;,,;,,,,,,,,,,,,,,,,,,,,,,,,;,,;;c0MMMNx;;,,;,,,,,,,,,,,,,,,,,,,,,,,,,,,,,;oKWMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMNkc;;;,,,,,,,,,;;;,,,,,,;;;,,;,,;;;,,;,,,,,,,,,,,,,,,,,,,,,,,,,,;,,,;xNMMMXo;,,;,,,,,,,,,,,,,,,,,,,,,,,,;,,;,,,;cONMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMWXOxc;;;,,,,,;;;,,;;,,;;,;;;,,,,;;,,;;,,,;;,,,;,,,,,;,,,,;,;;;;,;;;oXMMMWk:;,;;,,,,,,,,,,,,,,,,,,,,,,,,;;,;;;,,,:dKWMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMWx;,;,,;;;;;;;,,,;,,,,;;:clooddddddoollc::;;,,;,,;;,;,,;,,;;,;:xXMMMW0c;,;;,,,,;;;;;;,,,,,,,,,,,,,,,;;,;;;,;,,;ckNMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMWO:;;;;,;;,;,,;;,,;,;ok0XNWWWMMMMMMWWWNNKkdl:;,;;,,,;;;;;;,;:o0WMMMW0l;;,,;,,,,,,;;;;,,,,,,,,,,,,,,,,,;,,,;;,,,;;lONMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMNd;;,;;,,,,;;,,;;;;dXMMMMMMMMMMMMMMMWXOkkOo;;;;,,,,;;;;;cokKWMMMMMMNKOxl:;,,,,,,,,;,,,,,,,,,,,,,,,,;,,,;,,;;;;:cld0WMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNkc;,;;,,;,,,;;:lONMMMMMMMMMMMMMMWKxlo0NO:,,;,,;,,;:oO0XWMMMMMMMMMMMMMNKkl:;;;;,,,,;;,,,,;;,,;,,;;,,;;cloxkOKXNWWMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWKo;,,;;;:cldk0NMMMMMMMMMMMMMMW0d:ckNMWx;,;;;,,;;cONMMMMMMMMMMMMMMMMMMMMN0d:;,,;,,;;,,;;;,;;,,;;coxO0XNWMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM0l;;ckKKXNWMMMMMMMMMMMMMMMWKd:;o0WMMNx;;;;,;,;l0WMMMMMMMMMMMMMMMMMMMMMMMWKd:;;;,,,;;;,,;;;cok0XWMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWKo:lKMMMMMMMMMMMMMMMMMMMXkc;:xXMMMMWk;,;;,;;lKMMMMMMMMMMMMMMMMMMMMMMMMMMMW0l;;,,;,,;;;cdOXWMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMN0xOXWMMMMMMMMMMMMMMMW0o;;:kNMMMMMMO:,,;;,:OWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXx:;,,;;;lkXWMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMWNX0OkkxxxxkO0XWMWNNWMMMMMMMMMMMMMMNkc;;:kWMMMMMMMXo;;,,,:xNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWOc;;;ckNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMNKOxol:;;;;;,,;;;;:okXMMMMMMMMMMMMMMMMNx:,,:xNMMMMMMMMWO:,;;,;:kWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMW0l;cOWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMWN0xl:;;,,;;;;;;;;;;;,,;;lKWMMMMMMMMMMMMMNx:,,;dNMMMMMMMMMMXo;,;;;,lKMMMMMMWXKOO0XWMMMMMMMMMMMMMMMMMW0lxWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMWKkl:;;;,;:ldkO00KK00Oxl;;;;dNMMMMMMMMMMMMNx:,;;lKMMMMMMMMMMMNd;,,,,,cKMMWXOxoccoOXWMMMMMMMMMMMMMMMMMMMWKKMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMWKxc;;,;;cdOKNMMMMMMMMMMMNkc;;lXMMMMMMMMMMMWk:,;,:kWWMMMMMMMMMMNd;,,,,;dXMXxc;;;lONMMMMMMMMMMMMMMMMMMMMMMMWWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMWOc;,;;;ckKWMMMMMMMMMMMMMMMWx;;dNMMMMMMMMMMWOc,;;;oXX0NMMMMMMMMW0c;,,,;oKMXo;,,:xXWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMWk:,,;;:xXWMMMMMMMMMMMMMMMMMWx:lKMMMMMMMMMMM0l;;;,:kWOlOWMMMMMWN0l;;::oONMWO:,,:kNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMWOc;;,;cOWMMMMMMMMMMMMMMMMMMW0loKMMMMMMMMMMMKo;;;;;oXWO::d0KK0kdl:,,;ldkKXXOl;;;dNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMNd;;,;cOWMMMMMMMMMMMMMMMMMMNOxONMMMMMMMMMMMXd;,;,,cOWMKl;;;::;;;,,,,,;;;:::;;,;oKMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMKl,;;;dNMMMMMMMMMMMMMMMMWNXKKNMMMMMMMMMMMMNx;,,,,;xNMMWOc;,,,,;;,;;,,,;;;;;:cdONMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMM0c,;,;kWMMMMMMMMMMMMMMMMMWWMMMMMMMMMMMMMMNx:,,;,;oXMMMMWKxlccloxkOkkkkkkkO0KNWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMM0c,;;;xWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNx:,,,,;lKMMMMMMMMWNNWWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMXo;;,;lKMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWXd;;;,,;l0WMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMWk:,;;;oXMMMMMMMMMMMMMMMMMMMMMMMMMMMMNOl;,,;;;l0WMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMXd;,,,;l0WMMMMMMMMMMMMMMMMMMMMMMMMN0o:;,,,;;oKWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMXd;,,,;:d0NMMMMMMMMMMMMMMMMMMMWXko:;,,;;,:xXMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMNkc;;,;;;lxOKNWMMMMMMMMMWNX0xo:;;;,,;;;l0WMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMWKd:;,,,;;;:codxxkkkxxdoc:;;;;,,;,,;lkNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMW0dc;,,;,,;;,,;;;;;,,,;;;,;;,;;:oONMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMWXOdc:;,;;,;;;;;;;,;;;,,;;cokKWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMWX0kdolc:;;;;;;;:cloxk0XWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM//MMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMWNXKK00000KKXNWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM//--------//-----\\MMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM//--------//-------\\MMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM\\-------//--------//MMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM\\-----//--------//MMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM//MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM

*/


html,
body {
    background-color: rgb(41, 41, 41);
}

.keyCode {
    position: relative;
    margin: auto;
    margin-top: 15%;
    text-align: center;
}

.keyCode>span {
    color: #c5c5c5;
    font-family: 'Raleway', sans-serif;
    font-size: 10em;
}

.keyBox {
    display: block;
    background-color: #dfdfdf;
    border: 1px solid #969696;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-shadow: 0 15px 35px rgba(235, 235, 243, 0.1), 0 5px 15px rgba(218, 212, 212, 0.07) !important;
}


/* Helpers */

.txt-head {
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    border-bottom: 1px solid #4d4d4d;
    text-align: center;
    display: block;
}

.txt-data {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
    font-weight: 550;
    display: block;
}