/* 
                                                                                                                                                             
                                                                                                                                                                                    
                                                                                                                                                                                    
                                                                           `-:/++++/:.        oss`         `ss+                                                                     
                                                                         -smNNmddddmNNd+`     NMM`         .MMm                                                                     
        ````       ``   ``          ````         ````       ```  ```    oNMh/.`.....-sNMd.    NMM`    ```  .MMm     ```   ``      ``    `````````       ````      ``      ```       
     .ohmmmdy:    /mmsodmmds.    :ydmmmmdy/   `ohmmmmds.    hmm+ymmmy` /MMs``+dmmmdy: -NMd`   NMM`  .ymd/  .MMm   -hmh-  /mmo    smm-  .mmmmmmmmm-   `+hmmmmy:   :dmo    .dmy       
    .mMNs++hMN+   +MMNyoohMMm`  -NMdo++shd/   `+hs+/omMN-   mMMmyosy-  dMN` hMMy+omMN: +MM:   NMM` /mMh-   .MMm `oNNy.   +MMs    yMM:  .oooosdMMd.  .dMNy++yMMo   yMN:   hMN-       
    yMM+...-dMN`  +MMy    hMM:  :MMh+/:---     `.----oMM+   mMM/       NMh .MMd   :MMs -MMo   NMM-yMMy`    .MMm-dMM/     +MMs    yMM:      .yMNs`   oMMo....hMM.  `mMm` /MMo        
    hMMmddddmNN-  +MMs    yMM/   +hmmmNNNms`  +dNmmmmNMMo   mMM:       MMh .MMh   -MMy -MMo   NMMNNNMN:    .MMNNNNMd.    +MMs    yMM:    `/mMd:     yMMmddddmNN:   :NMy.NMh         
    sMMo-...--.   +MMs    yMM/   ..``..-yMM: .MMh-...+MMo   mMM:       MMh .MMd`  /MMy -MMo   NMMd:.dMN/   .MMMh-:NMm-   /MMh`  `dMM:   -hMNs`      oMMs-...--.`    oMMmMN.         
    .dMNhsoydh-   +MMs    yMM/  +NmhsosymMm. .NMmo//+hMMo   mMM:       mMm` hMMhssNMMm+yMM:   NMM.  .dMM+  .MMm   :NMN:  `mMMdyydNMM:  :NMMmyyyyy/  `dMNhsoydd:      hMMM+          
     `/ydmmdy+.   /dd+    odd:  -+yhmmmdy+.   -sdmmdyodd/   ydd-       +MMs``+hmmds:sdmmh/    hdd`   `ydd: .ddy    -hdh.  .odmmh/sdd-  :dddddddddo   `/ydmmdy+.      -MMh           
                                                                        +NMms:.``````                                                                              ``yMN`           
                                                                         .+hNNNNNNNNs                                                                              mNMN:            
                                                                             .--::::.                                                                              oo+.             
                                                                                                                                                                                    
                                                                                                                                                                                    
                                                                                                                                                          -ss:                      
                                                                                                                                                         `mMm`                      
                                                                                                                                                         sMM:                       
                                                                                                                                                `       :MMs  `                     
                                                                                                                                             `/ym.     `mMm`  hh+-                  
                                                                                                                                          ./yNMNd`     yMM-   smMNdo-               
                                                                                                                                        `smMMNo.`     /MMo     ./dMMNh-             
                                                                                                                                         `:sdMNds`   .NMd`    +hmMmy/.              
                                                                                                                                            `-odN.   hMN-     dmy:.                 
                                                                                                                                               `-`  +MMo      -`                    
                                                                                                                                                   .NMh                             
                                                                                                                                                   hMN.                             
                                                                                                                                                  -yy/                              
                                                                                                                                                                                    
                                                                                                                                                                                    
                                                                                                                                                                                    
*/


html,
body {
    background-color: rgb(41, 41, 41);
}

.keyCode {
    position: relative;
    margin: auto;
    margin-top: 15%;
    text-align: center;
}

.keyCode>span {
    color: #c5c5c5;
    font-family: 'Raleway', sans-serif;
    font-size: 10em;
}

.keyBox {
    display: block;
    background-color: #dfdfdf;
    border: 1px solid #969696;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-shadow: 0 15px 35px rgba(235, 235, 243, 0.1), 0 5px 15px rgba(218, 212, 212, 0.07) !important;
}


/* Helpers */

.txt-head {
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    border-bottom: 1px solid #4d4d4d;
    text-align: center;
    display: block;
}

.txt-data {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
    font-weight: 550;
    display: block;
}
